/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
	margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* Main css */
.container {
	background-color: rgba(245, 248, 250, 1);
	max-width: 1440px;
	min-height: 1170px;
	border: 2px solid red;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: 1386px;
	min-height: 76px;
	/* border: 10px solid black; */
}

.logo {
	width: 200px;
	height: 39px;
}

nav {
	max-width: 476px;
	min-height: 40px;
}

nav > ul {
	display: flex;
	list-style-type: none;
	align-items: center;
}

.active {
	margin: 15px;
	text-decoration: none;
	color: rgba(29, 44, 60, 1);
	font-family: "lato", serif;
	font-weight: 700px;
	font-size: 14px;
}

nav > ul > li:last-child {
	border: 2px solid rgba(29, 44, 60, 1);
	border-radius: 6px;
	width: 91px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

hr {
	max-width: 1358px;
	min-height: 2px;
	margin: 0px auto;
	border: none;
	background-color: rgba(224, 230, 234, 1);
}

.wrapper {
	max-width: 892px;
	min-height: 845px;
	display: flex;
	justify-content: center;
	margin: 10px auto;
	border: 5px solid black;
}

.first-column {
	width: 580px;
	min-height: 795px;
	border: 2px solid brown;
	margin-top: 15px;
}

form {
	margin-left: 30px;
	margin-right: 30px;
}

form > hr {
	max-width: 580px;
	height: 2px;
}

.form-title {
	max-width: 580px;
	min-height: 80px;
	border: 2px solid red;
	margin: 15px auto;
}

.form-title-text-container {
	max-width: 161px;
	min-height: 54px;
	margin-bottom: 5px;
	border: 2px solid red;
}

.form-basic-info {
	max-width: 580px;
	min-height: 221px;
	border: 2px solid green;
	margin: 10px auto;
}

.form-basic-info-text-container {
	max-width: 260px;
	min-height: 35px;
	border: 2px solid red;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
}

.oval {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid black;
	text-align: center;
	margin-right: 8px;
	font-family: "Lato", sans-serif;
	font-weight: 700px;
	color: rgba(84, 139, 197, 1);
	border-color: rgba(84, 139, 197, 1);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.form-basic-info-text-container > h4 {
	font-family: "Lato", sans-serif;
	font-weight: 700px;
	color: rgba(29, 44, 60, 1);
	font-size: 18px;
}

.form-row {
	display: flex;
	justify-content: space-between;
}

.form-group {
	max-width: 227px;
	min-height: 60px;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.input-field-small {
	width: 227px;
	min-height: 36px;
	border: none;
	border-radius: 5px;
	background-color: rgba(237, 239, 242, 1);
}

.input-field-medium {
	width: 370px;
	min-height: 36px;
	border: none;
	border-radius: 5px;
	background-color: rgba(237, 239, 242, 1);
}

.input-field-large {
	max-width: 483px;
	min-height: 36px;
	border: none;
	border-radius: 5px;
	background-color: rgba(237, 239, 242, 1);
}

.form-payment {
	max-width: 580px;
	min-height: 154px;
	border: 2px solid red;
}

.form-group-credit-card {
	width: 483px;
	min-height: 60px;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.form-purchase {
	max-width: 483px;
	min-height: 146.1px;
	border: 2px solid red;
	margin: 0 auto;
}

.form-purchase > button {
	width: 483px;
	height: 52px;
	background-color: rgba(3, 142, 125, 1);
	color: rgba(255, 255, 255, 1);
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 21.6px;
	text-align: center;
}

.form-purchase > #form-purchase-info-text-container {
	max-width: 333px;
	height: 20px;
	border: 2px solid red;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;

	h6 {
		width: 20px;
		height: 20px;
		border: 2px solid rgba(84, 139, 197, 1);
		border-radius: 50%;
		color: rgba(84, 139, 197, 1);
		text-align: center;
		margin-right: 6px;
	}

	p {
		width: 303px;
		height: 16px;
		color: rgba(100, 110, 122, 1);

		strong {
			font-family: "Lato", sans-serif;
			font-weight: 700;
			line-height: 16.8px;
			color: rgba(29, 44, 60, 1);
		}
	}
}

.form-purchase > .img-container {
	max-width: 92px;
	max-height: 20.1px;
	opacity: 50.2%;
	margin: 0 auto;
	margin-top: 25px;
}

.form-purchase-text {
	max-width: 303px;
	min-height: 16px;
}

.second-column {
	width: 312px;
	min-height: 795px;
	border: 2px solid greenyellow;
	margin-top: 15px;
	background-color: rgba(17, 121, 191, 1);
}

.second-column-inner-wrapper {
	width: 231px;
	height: 610px;
	margin: 15px auto;
	border: 2px solid yellow;
}

footer {
	width: 867px;
	height: 17px;
	margin: 10px auto;
	border: 1px solid red;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

	p {
		width: 303px;
		height: 16px;
		color: rgba(99, 107, 111, 1);
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 16.8px;

		strong {
			color: rgba(49, 112, 143, 1);
		}
	}
}
